@CHARSET "UTF-8";

#stage {
	min-height: 320px;
	border: 1px solid red;
	position: relative;
}

#player {
	position: absolute;
	bottom: 20px;
	width: 75px;
	height: 210px;
	background-color: green;
	left: 100px;
}